/* the code below is font-family */
 
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* common code */
 
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
section {
  padding-bottom: 90px;
  padding-top: 90px;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  font-family: Oswald, sans-serif;
  font-weight: 500;
}

/* star topbar */
.topbarmenu {
  background: #fff;
}
#topBarSticky {
  position: sticky;
  top: -54px;
  left: 0px;
  background: #ffffff;
  z-index: 1;
}
.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.topbarwrapper {
  overflow: hidden;
}
.phone {
  width: 200px;
  float: left;
  padding: 15px 10px;
}
.email {
  width: 758px;
  float: left;
  padding: 15px 10px;
}
.social {
  width: 140px;
  float: left;
  transition: all 0.3s ease 0s;
}
.social a {
  display: block;
  float: left;
  padding: 15px;
  color: rgb(43, 43, 43);
  font-size: 15px;
}
.social i:hover {
  color: rgb(255, 82, 0);
}
.phone i {
  color: #000000;
  font-size: 14px;
  margin-right: 5px;
}
.email i {
  color: #000000;
  font-size: 14px;
}
div#mainPrimary {
  padding-top: 12px;
  position: relative;
  z-index: 1;
}
.primarywrapper {
  overflow: hidden;
  width: 100%;
}
.logo {
  width: 150px;
  float: left;
  margin-top: 15px;
}
.menu {
  width: 990px;
  float: left;
}
.mainMenuItem {
  list-style: none;
  float: right;
}
ul.mainMenuItem li {
  float: left;
}
ul.mainMenuItem li a {
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 30px 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  transition: all 0.5s ease 0s;
  letter-spacing: 2px;
}
ul.mainMenuItem li a:hover {
  color: rgb(255 156 109);
}
ul.submenu {
  position: absolute;
  list-style: none;
  width: 236px;
  background: #ffffff;
  border-top: 1px solid #ddd;
  padding: 7px 10px;
  padding-top: 15px;
  margin-left: 5px;
  padding-bottom: 8px;
  transform: scaleY(0);
  transform-origin: top;
}

ul.submenu li {
  float: none;
  position: relative;
}

ul.submenu li a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: #444 !important;
  letter-spacing: 0.4px;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 30px;
  padding: 4px 25px;
}
ul.submenu li a:before {
  content: "";
  position: absolute;
  width: 0px;
  border-bottom: 2px solid #ff5200;
  top: 18px;
  left: 23px;
}
ul.submenu li:hover a:before {
  width: 15px;
  transition: all 0.9s;
}

ul.submenu li:hover a {
  margin: 0px 17px;
  transition: all 0.9s;
}
ul.mainMenuItem li:hover .submenu {
  transform: scaleY(1);
  transition: all 0.5s;
}
ul.mainMenuItem li a i {
  font-size: 15px;
  color: #fff;
}

/* end topbar */

/* start homeslider */

#homeSlider {
  background: url(../img/in2-slide-1.jpg) no-repeat;
  background-size: cover;
  background-position: -76px 0px;
  transform: translate(0px, -100px);
  padding: 0px 0px;
}
.sliderContent {
  width: 550px;
  color: rgb(255, 255, 255);
  margin-left: 12px;
}
.sliderContent h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 248px;
  float: left;
  letter-spacing: 1px;
  line-height: 70px;
}
.sliderContent p {
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 30px;
  width: 490px;
  color: rgb(252, 253, 253);
  font-size: 17px;
}
button#sliderBtn {
  background: rgb(255, 82, 0);
  color: white;
  border: none;
  padding: 12px 10px;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 138px;
  border-radius: 3px;
  width: 192px;
  font-family: Oswald, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

button#sliderBtn:hover {
  background: #252525 !important;
}
.slidernav span {
  display: block;
  width: 9px;
  height: 9px;
  background: transparent;
  margin: auto;
  border-radius: 50%;
  position: relative;
  top: -44px;
  left: -686px;
  float: right;
  cursor: pointer;
}

.slidernav span:last-child {
  background: rgb(255, 82, 0);
  width: 11px;
  height: 11px;
}
.slidernav span:first-child {
  position: relative;
  top: -25px;
  left: -659px;
  border: 1px solid rgb(221, 221, 221);
}

/* scroll-top css */

a#scroll-top {
  position: fixed;
  background: #252525;
  color: #fff;
  width: 40px;
  height: 40px;
  bottom: 2%;
  right: 2%;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  transition: all 0.3s;
  display: none;
}

a#scroll-top:hover {
  background: #ff5200; 
} 
/* end homeslider */

/* start construction services */

section#construction {
  padding-top: 0px;
}
.consWrapper {
  display: flex;
  justify-content: space-between;
}

.consLeft {
  width: 580px;
}

.consLeft img {
  width: 99%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 5px #d1cccc;
}

.consRight {
  width: 515px;
}

.consRight h1 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
  letter-spacing: 0.2px;
}

.consRight p {
  color: #777;
  margin-bottom: 20px;
  line-height: 23px;
}

.consRight button {
  padding: 14px 36px;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: "Oswald";
  font-weight: 600;
  color: #fff;
  background: #252525;
  font-size: 16px;
  border: none;
  letter-spacing: 1px;
  word-spacing: 2px;
  cursor: pointer;
  transition: all 0.6s;
}
.consRight button:hover {
  background: #ff5200;
}

/* end construction services */

/* start services */

section#services {
  background: rgb(245, 245, 245);
}
.singleBox {
  width: 220px;
  background: white;
  padding: 15px;
  float: left;
  margin-right: 32px;
  border: 1px solid rgb(236, 232, 232);
  transition: all 0.5s;
}
.sboxwrapper {
  overflow: hidden;
}
.sboxTittle {
  text-align: center;
  width: 150px;
  margin: auto;
}
.sboxTittle h2 {
  font-size: 20px;
  letter-spacing: -0.1px;
  line-height: 26px;
  font-weight: 500;
  margin: 25px 0px;
}
.sboxIcon {
  text-align: center;
  font-size: 40px;
  color: rgb(255, 82, 0);
  margin: 40px 0px;
  margin-bottom: -7px;
}
.sboxDesc {
  text-align: center;
  margin: -5px 0px;
}
.sboxLink {
  text-align: center;
  margin: 25px 0px;
  letter-spacing: 0.1px;
}
.sboxLink a {
  text-decoration: none;
  color: rgb(255, 82, 0);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}
.sboxDesc p {
  color: rgb(51, 51, 51);
  line-height: 22px;
}
.sboxTittle a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  line-height: 28px;
  letter-spacing: 0.6px;
}
.singleBox:hover {
  background: rgb(255, 82, 0);
}
.singleBox:hover .sboxTittle a {
  color: white;
  cursor: pointer;
}
.singleBox:hover .sboxDesc p {
  color: white;
}
.singleBox:hover .sboxIcon i {
  color: white;
}
.singleBox:hover .sboxLink a {
  color: white;
  cursor: pointer;
}
.active,
.active a,
.active p,
.active i {
  background: rgb(255, 82, 0);
  color: white;
}
/* end sercives secton  */

/* start counter */

#counter {
  background: linear-gradient(#000000a1, #0000009e), url(../img/why-choose-us1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.counterWrapper {
  overflow: hidden;
}

.counterBox {
  width: 241px;
  color: #ccc8c8;
  text-align: center;
  float: left;
  margin-right: 25px;
}

.counterBox i {
  font-size: 50px;
}

.counterBox h2 {
  margin: 25px 0px 8px 0px;
  font-size: 43px;
  font-family: arial black;
}

.counterBox h4 {
  font-size: 20px;
  font-weight: 700;
}
/* end counter */

/* start pricing */
.tablewrapper {
  overflow: hidden;
  width: 100%;
  background: #fbfbfb;
}

.singleTable {
  width: 300px;
  float: left;
  border: 1px solid #f3eaea;
  padding: 30px 25px;
  margin-left: 28px;
}

.singleTable h3 {
  font-size: 25px;
}

.singleTable h4 {
  font-size: 40px;
  margin: 10px 0px;
  font-family: arial;
  font-weight: 900;
}

.singleTable span {
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  margin-left: -4px;
}

ul.tableList {
  list-style: none;
  color: #666;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul.tableList li {
  line-height: 40px;
}
ul.tableList li i {
  font-size: 11px;
  color: #e8895a;
  margin-right: 6px;
}

button.tableBtn {
  background: #ec5e19;
  color: white;
  padding: 15px 23px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 700;
}

button.tableBtn:hover {
  background: #252525;
  cursor: pointer;
  transition: 0.5s;
}

.singleTable:first-child {
  box-shadow: -3px 0px 4px 1px #fafafa;
}
/* end pricing */

/* start ideas */
.ideasleftIMg {
  background: url(../img/in2-s02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 50%;
  float: left;
  position: absolute;
  height: 517px;
}
.ideasSpecial {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}

.ideasSpecial h1 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Oswald";
  letter-spacing: 1px;
  word-spacing: 0.3px;
  margin-bottom: 10px;
}

.customer span,
.builder span,
.construction span,
.service span,
.quality span {
  display: block;
  font-size: 15px;
  color: #2a2323;
  margin-bottom: 5px;
}
.percentOutter {
  width: 420px;
  border: 1px solid #ff5200;
  height: 17px;
  border-radius: 1100px;
  margin: 10px 0px;
}
.percentInner {
  width: 90%;
  background: #ff5200;
  height: 17px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.builder .percentInner {
  width: 70%;
}

.construction .percentInner {
  width: 80%;
}

.service .percentInner {
  width: 80%;
}

.quality .percentInner {
  width: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.ideasrightContent {
  width: 50%;
  float: right;
  background: #222222;
  color: white;
  padding: 70px 0px 10px 0px;
}

.ideasTitle {
  padding: 0px 65px 50px 65px;
}

.ideasTitle h1 {
  font-size: 30px;
}

.ideasTitle p {
  line-height: 25px;
  margin-top: 10px;
}

.ideasBox {
  padding: 0px 70px;
  overflow: hidden;
}

.ideasSinglebox {
  width: 250px;
  float: left;
  margin: 0px 0px 50px 10px;
}

.ideasIcon {
  width: 80px;
  font-size: 50px;
  float: left;
  color: #d04806ed;
}

.ideasDesc h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 7px;
}

.ideasDesc p {
  color: #d2caca;
  width: 245px;
  line-height: 27px;
}

.ideasSinglebox:last-child i {
  margin-left: 10px;
}

.ideasSinglebox h2:hover {
  color: #ff5200;
  transition: all 0.3s;
  cursor: pointer;
}
.ideasDesc span {
  display: block;
  text-align: center;
}
section#ideas {
  overflow: hidden;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0;
}
/* end ideas */

/* start secTitle */
.blogInfo {
  text-align: center;
  margin-bottom: 45px;
}

.blogInfo h2 {
  font-size: 40px;
  word-spacing: 2px;
  font-weight: 500;
  position: relative;
  margin-bottom: 28px;
}

.blogInfo h2:after {
  content: "";
  position: absolute;
  bottom: 10px;
  border: 1px solid #ff5200;
  width: 56px;
  left: 50%;
  margin: -25px;
}

.blogInfo p {
  width: 505px;
  margin: auto;
  font-size: 16px;
  line-height: 26px;
  color: #666;
}
/* end secTitle */

/* start projects */
#projects {
  background: #f5f6f6;
  padding-bottom: 60px;
}
.tabMeun {
  width: 997px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.tabMenuItem {
  width: 410px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

ul.tabMenuItem li a {
  text-decoration: none;
  color: #333;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 15px;
  padding: 12px 12px;
  display: block;
  transition: 0.3s;
}
ul.tabMenuItem li:first-child a {
  background: #ff5200;
  color: white;
  border-radius: 2px;
}
ul.tabMenuItem li:hover a {
  cursor: pointer;
  background: #ff5200;
  border-radius: 3px;
  color: #fff;
}

.projectWrapper {
  overflow: hidden;
  column-count: 3;
  column-gap: 0px;
}

.singleProject {
  width: 350px;
  margin-right: 20px;
  float: left;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  transition: all 0.3s;
}

.singleProject:last-child {
  margin-right: 0;
}

.singleProject img {
  width: 100%;
}

.projectInfo {
  position: absolute;
  bottom: 3px;
  left: 0px;
  color: white;
  padding: 0px 0px 0px 30px;
  width: 320px;
  background: linear-gradient(to bottom, #0000000a, #100e0e 180px);
  transition: all 0.2s;
}

.projectTitle a {
  color: white;
  display: block;
  margin-bottom: 4px;
}

.projectTitle h3 {
  font-size: 21px;
}

.projectTitle {
  width: 280px;
}

.projectInfo a:last-child {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  visibility: hidden;
  transform: translateX(-130px);
  padding: 10px 0px 35px 0px;
}

.projectInfo a i {
  font-size: 12px;
  margin-left: 8px;
}
.singleProject:hover .projectInfo a:last-child {
  visibility: visible;
  cursor: pointer;
  display: block;
  transform: translateX(0px);
  transition: all 0.7s;
  transition-duration: 2s;
  animation-timing-function: ease-in-out;
}
.singleProject:hover .projectTitle h3 {
  margin-bottom: 12px;
}
/* end projects */

/* start latestnews */
section#latestNews {
  padding-bottom: 0px;
}

.newsWrapper {
  overflow: hidden;
}

.singleNews {
  width: 355px;
  float: left;
  margin-right: 30px;
}

.singleNews img {
  width: 100%;
}

.singleNews:last-child {
  margin-right: 0px;
}

.singleNews:hover .newsImg a img {
  transform: scale(1.1);
  transition: all 0.9s;
}
.newsComent span {
  color: rgb(208 199 199);
  font-size: 16px;
  font-weight: 300;
}

.newsComent a {
  display: inline-block;
  margin-left: 30px;
  color: #2d2727;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.newsInfo {
  border: 1px solid #f3f2f2;
  border-top: none;
  padding: 20px 25px;
  position: relative;
}

.newsImg a {
  display: block;
  height: 244px;
  overflow: hidden;
}
.newsComent a:hover {
  color: #ff5200;
  transition: 0.3s;
}

.newsTittle h3 {
  color: #2f2e2e;
  margin: 19px 0px;
  word-spacing: 1px;
  font-size: 22px;
}

.newsTittle a {
  text-decoration: none;
}

.newsTittle h3:hover {
  color: #ff5200;
  transition: 0.3s;
  cursor: pointer;
}

.newsTittle p {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.newsTittle a:last-child {
  color: #ff5200;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 15px;
  word-spacing: 2px;
}
.newsTittle i {
  margin-left: 5px;
  font-size: 12px;
}

.newsComent span:after {
  content: "";
  position: absolute;
  bottom: 191px;
  left: 120px;
  width: 15px;
  border-bottom: 2px solid #ff5200;
}
/* end latestnews */

/* start subscribe */
.subsIcon a i {
  position: absolute;
  top: 34%;
  transform: translate(-50%, -50%);
}

.subsBoxWrapper {
  overflow: hidden;
  background: #e45917;
  padding: 20px 40px 0px 40px;
  border-radius: 5px;
}

.subsboxSingle {
  width: 330px;
  float: left;
  margin-right: 5px;
}

.subsboxSingle h3 {
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 15px;
}
.subsInput input {
  width: 70%;
  padding: 15px 25px;
  border: none;
  border-radius: 100px;
  letter-spacing: 0.5px;
  font-size: 14px;
  outline: none;
}

.subsInput button {
  padding: 15px 21px;
  border: none;
  background: black;
  color: white;
  font-family: "Work Sans";
  font-weight: 500;
  letter-spacing: 0.6px;
  font-size: 16px;
  border-radius: 50px;
  position: relative;
  top: -47px;
  left: 179px;
  cursor: pointer;
  outline: none;
}

.subsboxSingle span {
  display: block;
  color: white;
  line-height: 25px;
}

.subsIcon a {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  padding: 9px 8px;
  text-decoration: none;
  color: white;
  margin-right: 8px;
}

.subsIcon a:hover {
  color: #444;
  background: #ffffff;
  transition: all 0.5s;
}

.subsboxSingle span {
  display: block;
  color: white;
  line-height: 25px;
}

.subsIcon a {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-block;
  padding: 8px 8px;
  text-decoration: none;
  color: white;
  margin-right: 8px;
}

.subsIcon a:hover {
  color: #444;
  background: #ffffff;
  transition: all 0.5s;
}

.subsboxSingle:last-child {
  margin-right: 0px;
}

section#subscribe {
  position: relative;
  bottom: -165px;
  left: 0px;
  padding-top: 0px;
  margin-top: -93px;
}
/* end subscribe */

/* start footer */
footer#footer {
  background: #1a1a1a;
  padding-top: 160px;
}

.copywriteText {
}

.copywriteContainer {
  overflow: hidden;
  color: #999;
  border-top: 1px solid #333;
  padding: 35px 0px 40px 0px;
}

.copywriteText {
  float: left;
  font-size: 15px;
}

.copywriteMenu {
  float: right;
}

ul.copywriteItems {
  list-style: none;
}

ul.copywriteItems li {
  float: left;
}

ul.copywriteItems li a {
  display: block;
  text-decoration: none;
  color: #999;
  margin-right: 20px;
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

ul.copywriteItems li:last-child a {
  margin-right: 0px;
}

.fboxWrapper {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 0px 5px;
}

.fBox {
  width: 245px;
  float: left;
  margin-right: 50px;
}
.fBox:nth-child(1) {
  margin-right: 70px;
}

.fBox:nth-child(2) {
  margin-right: 20px;
}

.fBox:nth-child(3) {
  margin-right: 40px;
}

.fBox:last-child {
  margin-right: -1px;
}
.fBox h2 {
  color: whitesmoke;
  margin-bottom: 20px;
  font-size: 20px;
}

.fBox p {
  color: #aba6a6;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 22px;
}

.fIcon a {
  display: inline-block;
  color: #999;
  margin-right: 15px;
  font-size: 15px;
}

.fIcon a:last-child {
  margin-right: -1px;
}

.fIcon a:hover {
  color: #fb5200;
  transition: all 0.8s;
}
.fBox span {
  display: block;
  color: #999;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 22px;
  width: 220px;
}

.icon {
  color: #fb5200;
  margin-right: 10px;
  position: absolute;
  left: 391px;
}
span.fboxNum {
  width: 120px;
  line-height: 21px;
}
ul.fBoxlist {
  list-style: none;
}

ul.fBoxlist li a {
  display: block;
  text-decoration: none;
  color: #888;
  font-family: "Work Sans";
  font-size: 15px;
  border-bottom: 1px dashed #444;
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 0.3px;
  padding-bottom: 10px;
}

ul.fBoxlist li a i {
  margin-right: 5px;
}

.frPost {
  overflow: hidden;
  margin-bottom: 15px;
}

.frPostMeta {
  width: 30px;
  background: #313131;
  padding: 10px 10px;
  border-radius: 4px;
  float: left;
}
.frPostMeta span {
  font-size: 25px;
  color: #fff;
  display: block;
  margin: auto;
  margin-top: -3px;
  margin-bottom: 5px;
  font-weight: 700;
}

.frPostMeta span:last-child {
  font-size: 8px;
  display: block;
  width: 30px;
  line-height: 12px;
  margin: auto;
  margin-right: -3px;
}
.frPostTittle {
  width: 170px;
  float: left;
  margin-left: 20px;
}

.frPostTittle h3 a {
  color: #b5b3b3;
  display: block;
  text-decoration: none;
  font-size: 15px;
  word-spacing: 2px;
  margin-bottom: 8px;
}

.frPostTittle h3 a:hover {
  color: #fb5200;
  transition: all 0.6s;
}

ul.fBoxlist li a:hover {
  color: #fb5200;
  transition: all 0.8s;
}
.frPostTittle span {
  display: inline-block;
  width: 75px;
  font-size: 12px;
  font-weight: 300;
  color: #999;
  word-spacing: 2px;
  margin-left: 6px;
}

.frPostTittle span i {
  margin-right: 6px;
  font-size: 12px;
}
ul.fBoxlist li:last-child a {
  border-bottom: none;
}
/* end footer */
